In [47]:
import numpy as np
import pandas as pd
import re
import math
consumos = pd.read_csv('consumos.csv',sep=';')
accidentes = pd.read_csv('accidentes.csv', sep=';', usecols=['dist','any','mes','dia','hora','Long','Lat'])
consumos.columns = ['ano','mun','dis','uso','tipo','consumo','contratos']
bomberos = consumos[consumos.tipo=='SERVEI EQUIP C.INCENDIS']
beixample = bomberos[bomberos.dis=='EIXAMPLE']
beixample.ano = pd.to_numeric(beixample.ano)

In [45]:
comercial = beixample[beixample.uso=='INDUSTRIAL']

In [48]:
comercial.sort(['ano','mun','dis','uso','tipo','consumo','contratos'], ascending=[True, False, False, False, False, False, False]).head()

/Users/ireneroma/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,ano,mun,dis,uso,tipo,consumo,contratos
8627,201103,BARCELONA,CIUTAT VELLA,INDUSTRIAL,SERVEI EQUIP C.INCENDIS,0,105.0
10306,201105,BARCELONA,CIUTAT VELLA,INDUSTRIAL,SERVEI EQUIP C.INCENDIS,0,1.0
8694,201201,BARCELONA,CIUTAT VELLA,INDUSTRIAL,SERVEI EQUIP C.INCENDIS,0,3.0
10379,201203,BARCELONA,CIUTAT VELLA,INDUSTRIAL,SERVEI EQUIP C.INCENDIS,0,107.0
10639,201211,BARCELONA,CIUTAT VELLA,INDUSTRIAL,SERVEI EQUIP C.INCENDIS,0,1.0

In [92]:
aeixample = accidentes[accidentes.dist=="Eixample"]
aeixample["date"] = aeixample["dia"].map(str) + str("-") + aeixample["mes"].map(str) + str("-") + aeixample["any"].map(str)

/Users/ireneroma/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app